replicaCount: 1

image:
  repository: rontz/order-api
  tag: "v2"
  pullPolicy: Always

service:
  enabled: true
  type: ClusterIP
  port: 8080

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
