clusterName: "elasticsearch"
nodeGroup: "master"

roles: [master, data, ingest]
replicas: 1
minimumMasterNodes: 1

# REQUIRED for elastic/kibana chart hooks:
createCert: true
protocol: https

secret:
  enabled: true
  password: "passtest"   # optional but nice for lab

# 1-node lab: don't wait for green
clusterHealthCheckParams: "wait_for_status=yellow&timeout=30s"

# keep your lab sizing / no PVC if you want
persistence:
  enabled: false

esJavaOpts: "-Xms512m -Xmx512m"
resources:
  requests:
    cpu: "250m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

antiAffinity: "soft"

sysctlInitContainer:
  enabled: true
sysctlVmMaxMapCount: 262144
