image:
  repository: rontz/order-api
  tag: "v3"
  pullPolicy: Always

fullnameOverride: order-api

replicaCount: 1

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

service:
  enabled: true
  type: ClusterIP
  port: 8080
