image:
  repository: rontz/payment-service
  tag: "v5"
  pullPolicy: Always

fullnameOverride: payment-service

replicaCount: 1

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi


service:
  enabled: true
  type: ClusterIP
  port: 8081

initContainers:
- name: wait-for-rabbitmq
  image: busybox:1.36
  command:
    - /bin/sh
    - -c
    - |
      echo "Waiting for RabbitMQ at ${RABBITMQ_HOST}:${RABBITMQ_PORT}..."
      while ! nc -z "${RABBITMQ_HOST}" "${RABBITMQ_PORT}"; do
        echo "RabbitMQ not ready yet, sleeping..."
        sleep 3
      done
      echo "RabbitMQ is up, starting payment-service."
  envFrom:
    - configMapRef:
        name: rabbitmq-config-apps
    - secretRef:
        name: rabbitmq-credentials-apps
    - configMapRef:
        name: payment-service-config
