global:
  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: bitnamilegacy/rabbitmq
  tag: 4.1.3-debian-12-r1
  pullPolicy: IfNotPresent

auth:
  username: admin

  password: ""
  erlangCookie: ""

  existingPasswordSecret: rabbitmq-credentials-messaging
  existingErlangSecret: rabbitmq-credentials-messaging
  existingSecretPasswordKey: password
  existingSecretErlangCookieKey: erlang-cookie
  vhost: "/"
replicaCount: 1

persistence:
  enabled: false


resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

service:
  type: ClusterIP

#volumePermissions:
 # enabled: true

metrics:
  enabled: true
  serviceMonitor:
    labels:
      release: kube-prometheus-stack

    default:
      enabled: false
    detailed:
      enabled: true
    perObject:
      enabled: true



tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

  # IMPORTANT!! - Prod (multi-node):
  #   - REMOVE this toleration so RabbitMQ runs ONLY on worker nodes. - current working on the control plane!
  #   - Optionally add tolerations/affinity to schedule on dedicated
  #     "stateful" or "message-broker" node pools with proper taints/labels.
