global:
  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: bitnamilegacy/rabbitmq
  tag: 3.13.7-debian-12-r1
  pullPolicy: IfNotPresent

auth:
  username: admin

  password: ""
  erlangCookie: ""

  existingPasswordSecret: rabbitmq-credentials-messaging
  existingErlangSecret: rabbitmq-credentials-messaging
  existingSecretPasswordKey: password
  existingSecretErlangCookieKey: erlang-cookie
  vhost: "/"
replicaCount: 1

persistence:
  enabled: false
  # storageClass: "local-path"
  # size: 4Gi

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

service:
  type: ClusterIP

#volumePermissions:
 # enabled: true

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

  # IMPORTANT!! - Prod (multi-node):
  #   - REMOVE this toleration so RabbitMQ runs ONLY on worker nodes.
  #   - Optionally add tolerations/affinity to schedule on dedicated
  #     "stateful" or "message-broker" node pools with proper taints/labels.
