
replicaCount: 1

image:
  repository: rontz/rabbitmq-webserver
  tag: "dev-1"            # your existing dev image
  pullPolicy: IfNotPresent

containerPort: 8080

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

probes:
  path: "/healthz"
  initialDelaySeconds: 5
  periodSeconds: 10

configMap:
  name: "rabbitmq-config"


  secretName: "rabbitmq-credentials"
  usernameKey: "username"
  passwordKey: "password"
  queueName: "demo-queue"

autoscaling:
  enabled: false

serviceAccount:
  enabled: false
